<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>825054366160-mh53l453hk7dfn1b1klk30fg0qvv6oj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825054366160-mh53l453hk7dfn1b1klk30fg0qvv6oj7</string>
	<key>API_KEY</key>
	<string>AIzaSyBrqZUCXTOIohO4xE8PK0keFbWUD9ptlJM</string>
	<key>GCM_SENDER_ID</key>
	<string>825054366160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aaa.AAA</string>
	<key>PROJECT_ID</key>
	<string>aaa-academy-233404</string>
	<key>STORAGE_BUCKET</key>
	<string>aaa-academy-233404.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825054366160:ios:dc8a947467a2cb89</string>
	<key>DATABASE_URL</key>
	<string>https://aaa-academy-233404.firebaseio.com</string>
</dict>
</plist>